{{extend './_layouts/layout.html'}}

{{ block 'title' }}Blog Home Page{{ /block }}

{{ block 'body' }}
<section class="container">
	<ul class="media-list">
		{{ each topic }}
		<li class="media">
			<div class="media-left">
				<a href="#">
					<img width="40" height="40" class="media-object" 
						 src="../public/img/profile.jpg"/>
				</a>
			</div>
			
			<div class="media-body">
				<h4 class="media-heading"><a href="/comment?id={{ $value._id }}">{{ $value.title }}</a></h4>
				<p>
					{{ $value.nickName }} throws a topic · {{ $value.attention }} attentions · {{ $value.postTime }}
				</p>
			</div>
		</li>
		{{ /each }}
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li>
				<a href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li>
				<a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</section>
{{ /block }}

{{ block 'script'}}
<script type="text/javascript">
	var pageNumFromServer = {{ pageNum }};//number type
	//console.log(pageNumFromServer)
	
	var maxPageNum = {{ maxPageNum }};
	
	$.each($('.pagination>li'), function(index, value) {
		//console.log(value);
		//console.log($(this).attr('class'))
		
		if ((index != 0) && (index != 5)) {
			//handle the index based on the pageNumFromServer
			
			//get a tag
			//here the this is the li tag
			var $a = $(this).children(':first');
			
			//at the end of the pages
			if (index > (maxPageNum - pageNumFromServer + 1)) {
				$a.css('display', 'none');
			}
			else {
				$a.html(pageNumFromServer + index - 1);
					
				$a.attr('href', `/?pageNum=${pageNumFromServer + index - 1}`);
			}	
		}
		//when is next or last page 
		else {
			let $a = $(this).children(':first');
			
			if (index === 0) {
				if (pageNumFromServer === 1) {
					$a.css('display', 'none');
				}
				 
				$a.attr('href', `/?pageNum=${pageNumFromServer - 1}`);
			}
			
			else {
				//when it is the end of the pages
				if ((maxPageNum - pageNumFromServer + 1) <= 4) {
					$a.css('display', 'none');
				}
				$a.attr('href', `/?pageNum=${pageNumFromServer + 1}`);
			}
		}
	})
</script>
{{ /block }}

